---
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Landing from "@components/landing.astro";
import Intro from "@components/intro.astro";
import Layout from "@layouts/Layout.astro";
---
<style>

  .panel {
    transition: opacity 0.5s, filter 0.5s;
  }

  .panel.inactive {
    opacity: 0.2;
    filter: grayscale(100%);
  }

  .landing {
    background: #ffffff;
  }
  .intro {
    background: #d85fba;
  }
  .features {
    background: #ffffff;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const panels = document.querySelectorAll(".panel");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("inactive");
          } else {
            entry.target.classList.add("inactive");
          }
        });
      },
      {
        threshold: 0.05, // Adjust this value to control when the panel is considered "active"
      }
    );

    panels.forEach((panel) => observer.observe(panel));
  });
</script>

<Layout title="">
  <Container>
    <div class="panel landing" >
      <Landing />
    </div>
    <div class="panel intro" >
      <Intro />
    </div>
    <div class="panel features" >
      <Features />
    </div>
  </Container>
</Layout>
