---
import { Picture } from "@astrojs/image/components";
---
<div class="mt-24">
  <h2 class="text-center text-slate-500">Your Comfort, Your Choice</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Picture
      src="/logo/carrier.png"
      alt="Carrier"
      sizes="(max-height: 100px) 50vw, 200px"
      widths={[50, 100, 200]}
      aspectRatio={"16:9"}
      loading={"lazy"}
      decoding={"async"}
    />

    <Picture
      src="/logo/payne.png"
      alt="Payne"
      sizes="(max-width: 100px) 50vw, 100px"
      widths={[50, 100, 100]}
      aspectRatio={"1:1"}
      loading={"lazy"}
      decoding={"async"}
    />

    <Picture
      src="/logo/bryant.png"
      alt="Bryant"
      sizes="(max-width: 100px) 50vw, 200px"
      widths={[50, 100, 200]}
      aspectRatio={"16:9"}
      loading={"lazy"}
      decoding={"async"}
    />

    <Picture
      src="/logo/lennox.png"
      alt="Lennox"
      sizes="(max-width: 100px) 50vw, 200px"
      widths={[50, 100, 200]}
      aspectRatio={"49:16"}
      loading={"lazy"}
      decoding={"async"}
    />


  </div>
</div>  
  