---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from  "astro-imagetools/components";
const carrier = "src/assets/logo/carrier.png";
const payne = "src/assets/logo/payne.png";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Bringing you the best brands</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Picture src={carrier} alt="Carrier" 
      sizes="(min-width: 100px) 200px, 100px"
      load="lazy"
      placeholder="tracedSVG"
    />
    <Picture src={payne} alt="Payne" 
      sizes="(min-width: 100px) 200px, 100px"
      load="lazy"
      placeholder="tracedSVG"
    />

  </div>
</div>
